<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>eStore</title>
</head>
<body>
<h1>Welcome to <span th:text="${appname}"></span></h1>
<nav>
    <a href="home">Home</a>
    <a href="products.html">Products</a>
    <a>Offers</a>
    <a href="faq">Faq</a>
</nav>

<h3>Our Products</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product}"></td>
        <td th:text="${homeService.calculatePrice()}"></td>
    </tr>
    </tbody>
</table>
<ol>
    <li th:each="product: ${products}" th:text="${product}">
      <!-- placeholder product -->
    </li>
</ol>

<div th:insert="~{common/footer :: secureFooter}"></div>

</body>
</html>